html,
body {
    background-image: url('../img/login-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: Bluu Next, serif;
}

.navbar {
    background-color: none;
    height: 70px;
    font-family: Bluu Next, serif;
    font-size: 18px;
}

.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
}

.nav-link {
    margin-right: 1em !important;
}

.nav-link:hover {
    color: #000;
}

.navbar-collapse {
    justify-content: flex-end;
}

.container {
    height: 100%;
    align-content: center;
}

.card {
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.social_icon span {
    font-size: 60px;
    margin-left: 10px;
    color: #2a236e;
}

.social_icon span:hover {
    color: rgb(40, 32, 66);
    cursor: pointer;
}

.card-header h3 {
    color: white;
}

.social_icon {
    position: absolute;
    right: 20px;
    top: -45px;
}

.input-group-prepend span {
    width: 50px;
    background-color: #2a236e;
    color: rgb(178, 163, 226);
    border: 0 !important;
}

input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;

}

.remember {
    color: white;
}

.remember input {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.login_btn {
    color: white;
    background-color: #2a236e;
    width: 100px;
}

.login_btn:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(40, 32, 66);
}

.links {
    color: white;
}

.links a {
    margin-left: 4px;
}

.card-footer a {
    color: rgb(161, 144, 181);
}